<p>
  Kako biste pristupili sistemu Pregled-On-Demand, molimo Vas da unesete Vase
  korisnicke podatke:
</p>

<form class="example-form">
  <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput value="Username" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput value="Password" />
    </mat-form-field>
    <button mat-button color="primary" (click)="handleLogin()">Pristupi</button>
  </div>
</form>
