<p>
  Kako biste pristupili sistemu Pregled-On-Demand, molimo Vas da unesete Vase
  korisnicke podatke:
</p>

<form class="example-form">
  <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>
    <button mat-button color="primary" (click)="handleLogin()">Pristupi</button>
  </div>
</form>
