#grb {
    width: 80px;
    height: 100px;
    
    margin-left: 100
}
#toolbarTitle {
    color: red;
    font-size: 30px;
    margin-left: 80px;
    font-weight: 400;
    
    

}


.example-spacer {
    flex: 1 1 auto;
  }